.debugger {
	display: none;
	pointer-events: none;
	@include vast-breakpoint {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		z-index: 101;

		background-repeat: repeat;
	}
}
