// generates widths based on how many columns there are
@for $column from 1 through 50 {
	@include breakpoint(vast) {
		.columns-#{$column}.grid-x {
			@for $span from 1 through 50 {
				& > .vast-#{$span} {
					width: calc(100% / #{$column} * #{$span});
				}
			}
		}
		@include breakpoint(portrait) {
			.portrait-columns-#{$column}.grid-x {
				@for $span from 1 through 50 {
					& > .vast-#{$span} {
						width: calc(100% / #{$column} * #{$span});
					}
				}
			}
		}
	}
}

// generates heights based on how many rows there are
@for $row from 1 through 50 {
	@include breakpoint(vast) {
		.rows-#{$row}.grid-y {
			@for $span from 1 through 50 {
				& > .vast-#{$span} {
					height: calc(100% / #{$row} * #{$span});
				}
			}
		}
		@include breakpoint(portrait) {
			.portrait-rows-#{$row}.grid-y {
				@for $span from 1 through 50 {
					& > .vast-#{$span} {
						height: calc(100% / #{$row} * #{$span});
					}
				}
			}
		}
	}
}

// .fit-all-vertical adjusts the height of every cell
@for $row from 1 through 100 {
	@include breakpoint(vast) {
		.fit-all-vertical .grid-y.fit-#{$row} .cell {
			height: #{$row}vh;
		}
	}
}
