// additional colors are defined in
// foundation's settings file
// reference: https://github.com/foundation/foundation-sites/blob/develop/scss/settings/_settings.scss

// $foundation-palette: (
// 	primary: #1779ba,
// 	secondary: #767676,
// 	success: #3adb76,
// 	warning: #ffae00,
// 	alert: #cc4b37,
// );

$black: #0a0a0a;
$white: #fefefe;
// $body-background: $black;
// $body-font-color: $white;

.theme-dark,
[data-theme='dark'] {
	// background: $black;
	color: $white;
	* {
		color: $white;
	}
	a:hover {
		color: $white;
	}
}
