.theme-random-colors {
	$h: 331;
	$s-min: 53;
	$s-range: 25;
	$l-min: 57;
	$l-range: 25;

	@for $i from 1 through 100 {
		.cell:nth-child(#{$i}) {
			background-color: hsl(
				$h,
				$s-min + random($s-range),
				$l-min + random($l-range)
			);
		}
	}
}
