$black: #0a0a0a;
$white: #fefefe;
// $body-background: $black;
// $body-font-color: $white;

.theme-dark,
[data-theme='dark'] {
	// background: $black;
	color: $white;
	* {
		color: $white;
	}
	a:hover {
		color: $white;
	}
}
