.top-bar {
	&.bottom {
		position: fixed;
		top: auto;
		left: 0;
		bottom: 0;
		width: 100%;
		z-index: 100;
	}

	.menu {
		display: grid;
		align-items: center;
		grid-gap: 0.5rem;
		grid-auto-flow: column;

		p {
			margin: 0;
		}
	}
}
