.top-bar {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr 250px;
	background: white;

	&.bottom {
		position: fixed;
		top: auto;
		left: 0;
		bottom: 0;
		width: 100%;
		z-index: 100;
	}

	.menu {
		display: grid;
		align-items: center;
		grid-gap: 0.5rem;
		grid-auto-flow: column;
		list-style-type: none;

		p {
			margin: 0;
		}
	}
}
