@import 'settings';
@import 'theme-dark';
@import 'theme-random-colors';
@import 'theme-border';
@import 'foundation-sites/scss/foundation';
@import 'top-bar';
@import 'typography-guide';
@import 'home-grid';
@import 'debugger';

// All of foundation
@include foundation-everything;

@import 'adjust-for-distance';
@import 'grid-autofill';
@import 'foundation-overrides';

.presentation {
	#contents {
		text-align: center;
		width: 100%;
	}

	[data-background] {
		position: absolute;
		z-index: -1;
		width: 100vw;
		height: 100vh;
		left: 0;
		top: 0;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	img {
		width: 100%;
		height: auto;
		max-height: 100vh;
		object-fit: contain;

		&.contain {
			object-fit: contain;
		}

		&.cover {
			object-fit: cover;
		}
	}

	.responsive-embed {
		// fill screen vertically, with 100px for navigation bar reserved
		// otherwise the player controls will be hidden
		// under the nav bar
		padding-bottom: calc(100vh - 100px);
	}
}

@include vast-breakpoint {
	.grid-autofill {
		.cell {
			padding: 25px;

			&.remove-padding {
				padding: 0;
			}
		}
	}
}

[data-align='left'] {
	text-align: left;
}

.fill {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.full-height {
	height: 100vh;
}

.full-width {
	width: 100% !important;
}

@mixin vast {
	.grid-container.smart-grid {
		display: grid;
		grid-auto-flow: row;
		grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));

		.grid-x {
			display: grid;
			grid-auto-flow: column;
			grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
			height: 100%;
		}
	}

	.fill-contain {
		width: 100%;
		object-fit: contain;
	}
}

.emulate-vast {
	@include vast;
}

@include vast-breakpoint {
	@include vast;
}
